!!!
%html{ :lang => "en", :"xml:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    = javascript_include_tag "http://nq4.cdn.services.infralayer.com/static/api/naqesh_dostorak_netherlands_ext.js"
    = csrf_meta_tags

    :css
      html, body {
        height: 100%;
      }

      body {
        width: 100%;
        height: 100%
      }

      iframe {
        margin: 0 auto;
      }

  %body
    #naqeshny_debate

    :javascript
      initDostorFrame({
        app_id: "51f521d7687f2540060004b0",
        object_id: "300",
        object_content: "ناقش دستورك",
        object_url: "http://dostor.mashsolvents.com/netherlands-test",
        arguments_container: "naqeshny_debate",
        width: 700
      })
    
