%h3{ style: "direction: rtl"} ما هو دستور مصر ؟ 

%ul{ style: "direction: rtl"}
  %li دستور مصر هو موقع تستطيع منه الإطلاع علي مسودة مواد الدستور.
  %li تستطيع كل مرة عند دخولك علي الموقع قراءة مادة من مواد الدستور يتم اختيار هذة المواد بطريقة عشوائية.
  %li يمكنك تسجيل الدخول بحسابك الشخصي علي الفيس بوك و بعدها سيقوم الموقع كل يوم باختيار اكثر من مادة من مواد الدستور و تحديث حالتك الشخصية علي الفيس بوك بها.
  %li الهدف من هذا التطبيق هو نشر مواد الدستور بين الناس للمساعدة علي المناقشة الإجتماعية لمسودة الدستور.
