%h3{ style: "direction: rtl"} ما هو دستور مصر ؟ 

%p{ style: "direction: rtl"}
  إنطلاقًا من إيماننا بأهمية المشاركة المجتمعية للأفراض و الشركات في تأسيس الجمهورية المصرية الحديثة، نقدم لكم تطبيق "دستور مصر" لتسهيل التعرف على مواد الدستور و إدارة النقاش حولها؛ حيث يقوم التطبيق بنشر مادة عشوائية من المسودة على صفحتك ليساعدك و أصدقاءك على التعرف على مواد مسودة الدستور.