%h3{ style: "direction: rtl"} سياسة الخصوصية

%p{ style: "direction: rtl"}
  توضح هذه السياسة كيفية استخدام "ماش المحدودة المحدودة" لأي معلومات وحمايتها لتلك المعلومات التي تقوم أنت بإعطائها للشركة عند استخدامك موقع "دستور مصر".

  وتلتزم ماش المحدودة المحدودة بضمان حماية خصوصيتك. فعندما نطلب منك تزويدنا ببيانات معينة يمكن من خلالها أن يتم التعرف عليك عند استخدامك "دستور مصر"، يمكنك الاطمئنان عندئذ أن استخدام هذه البيانات سيتم فقط وفقاً لهذا البيان الخاص بالخصوصية.

  وقد تقوم "ماش المحدودة المحدودة" بتغيير هذه السياسة من وقت إلى أخر عن طريق تحديث هذه الصفحة. لذا، فعليك أن تتحقق من هذه الصفحة من وقت إلى أخر لكي تضمن رضائك عن أي تغييرات. وتعتبر هذه السياسة سارية المفعول بدءاً من ٢٢ نوفمبر ٢٠١٢.

%h4{ style: "direction: rtl"} ما سيجمعه موقع "دستور مصر" من معلومات وبيانات

%p{ style: "direction: rtl"}
  من الممكن أن نقوم بجمع البيانات التالية:

  %ul{ style: "direction: rtl; margin-right: 20px"}
    %li الاسم
    %li معلومات الاتصال والتي تشمل عنوان البريد الالكتروني

%hr

%h4{ style: "direction: rtl"} ما الذي نفعله بالبيانات التي نجمعها

%p{ style: "direction: rtl"}
  نحن نحتاج هذه البيانات لكي نتمكن من فهم احتياجاتك وبالتالي تقديم وتوفير خدمة أفضل لك، وعلى وجه الخصوص فنحن نحتاجها للأسباب التالية:

  %ul{ style: "direction: rtl; margin-right: 20px"}
    %li الحفظ الداخلي للسجلات.
    %li قد نستخدم هذه المعلومات لتحسين منتجاتنا وخدماتنا.
    %li قد نرسل بشكل دوري رسائل اليكترونية دعائية بخصوص منتجاتنا الجديدة، وعروضنا الخاصة، أو أية معلومات أخرى نعتقد أنها قد تثير اهتمامك، وذلك من خلال استخدام عنوان البريد الالكتروني الذي قمت بإعطائنا إياه.
    %li من وقت إلى أخر قد نستخدم هذه المعلومات أيضاً للاتصال بك لأغراض متعلقة بأبحاث السوق. من الممكن أن نتصل بك عن طريق البريد الالكتروني، الهاتف، الفاكس، أو البريد. كما أننا قد نستخدم المعلومات لتخصيص "ماش المحدودة" وفقاً لاهتماماتك.

%hr

%h4{ style: "direction: rtl"} الحماية

%p{ style: "direction: rtl;"}
  نحن ملتزمون بضمان حماية المعلومات والبيانات الخاصة بك. ومن أجل حظر ومنع الدخول أو الإفشاء غير المصرح به، فقد قمنا بوضع الإجراءات المادية، والاليكترونية، والإدارية المناسبة لحماية وحراسة المعلومات التي نقوم بجمعها على الانترنت.

%hr

%h4{ style: "direction: rtl"} كيفية استخدامنا لسجلات التتبع/سجلات المتصفح cookies

%p{ style: "direction: rtl;"}
  سجل المتصفح cookie هو عبارة عن ملف صغير يطلب منك الإذن لكي يتم وضعه على القرص الصلب الخاص بحاسبك. وبمجرد موافقتك، يتم إضافة هذا الملف ويساعد السجل في تحليل حركة مرور الويب web traffic، كما أنه يقوم بإعلامك عند زيارتك لموقع معين. وتسمح سجلات المتصفح لتطبيقات الويب بالاستجابة لك كفرد. فمن الممكن أن يقوم تطبيق الويب بتصميم عملياته وفقاً لاحتياجاتك وما تفضله وما لا تفضله وذلك عن طريق جمع وتذكر البيانات الخاصة بتفضيلاتك.

  ونحن نستخدم سجلات المتصفح الخاصة بسجل المرور traffic log cookies للتعرف على الصفحات التي يتم استخدامها، حيث يساعدنا ذلك في تحليل البيانات الخاصة بمرور صفحة الويب وكذا في تحسين موقعنا من أجل أن نصممه خصيصاً لتلبية احتياجات عملائنا. ونحن نستخدم تلك المعلومات لأغراض التحليل الإحصائي ونقوم بإزالة ومسح البيانات بعد ذلك من النظام.

  وبشكل عام، فإن سجلات المتصفح cookies تساعدنا في توفير موقع أفضل لك، وذلك عن طريق تمكيننا من مراقبة الصفحات التي تجدها ذات إفادة والصفحات التي لا تجدها مفيدة بالمرة. وسجل المتصفح لا يسمح لنا نهائياً بالدخول إلى الحاسب الخاص بك أو الإطلاع على أية معلومات عنك بخلاف تلك البيانات التي تختار أن تشاركها معنا.

  يمكنك الاختيار بين قبول أو رفض سجلات المتصفح cookies. ومعظم متصفحات الويب تقوم أوتوماتيكياً بقبول سجلات المتصفح، ولكنك تستطيع عادةً أن تقوم بتعديل إعدادات المتصفح الخاص بك لرفض سجلات المتصفح إذا أردت ذلك، إلا أن ذلك قد يمنعك من الاستفادة الكاملة من الموقع.

%hr

%h4{ style: "direction: rtl"} روابط لمواقع أخرى

%p{ style: "direction: rtl;"}
  قد يحتوى "دستور مصر" على روابط لمواقع أخرى ذات أهمية. ومع ذلك، فإنه بمجرد استخدامك لهذه الروابط لمغادرة موقعنا يجب عليك معرفة أنه لا توجد لدينا أي سيطرة على هذا الموقع الأخر. لذا، فنحن غير مسئولين عن حماية وخصوصية أية بيانات تقوم بتقديمها خلال زيارتك لتلك المواقع حيث أن هذه المواقع لا تخضع لهذا البيان الخاص بالخصوصية. يجب عليك توخي الحيطة والحذر وتفقد بيان الخصوصية المستخدم في هذا الموقع المعني.

%hr

%h4{ style: "direction: rtl"} التحكم في بياناتك الشخصية

%p{ style: "direction: rtl;"}
  من الممكن أن تختار وضع قيود على جمع أو استخدام بياناتك الشخصية بالطرق الآتية:

  %ul{ style: "direction: rtl; margin-right: 20px" }
    %li كلما يطلب منك ملأ استمارة على الموقع، ابحث عن الخانة التي تستطيع وضع علامة عليها للإشارة إلى عدم رغبتك في استخدام البيانات من قبل أي شخص لأغراض التسويق المباشر.
    %li إذا كنت قد وافقت في السابق على استخدامنا لبياناتك الشخصية لأغراض التسويق المباشر، فمن الممكن أن تقوم بتغيير ذلك في أي وقت عن طريق الاتصال بنا.
    %li لن نقوم ببيع، أو توزيع، أو تأجير بياناتك الشخصية للغير إلا في حالة الحصول على موافقتك أو عند مطالبة القانون لنا بذلك. وقد نستخدم بياناتك الشخصية لإرسال معلومات ترويجية ودعائية لك عن أطراف أخرى نعتقد أنها قد تثير اهتمامك وذلك في حالة إعلامنا برغبتك في حدوث ذلك.
    %li ومن الممكن أن تطلب تفاصيل البيانات الشخصية التي نحتفظ بها عنك بموجب قانون حماية البيانات لسنة 1998، وذلك بدفع رسوم رمزية.

%hr
%p{ style: "direction: rtl;"}
  برجاء الاتصال بنا في أسرع وقت ممكن إذا وجدت أن أية معلومات نحتفظ بها عنك غير صحيحة أو غير مكتملة، وذلك على العنوان الموضح أعلاه. وسوف نقوم بتصحيح أية معلومات خاطئة على الفور.