%h3{ style: "direction: rtl"} شروط الاستخدام

%p{ style: "direction: rtl"}
  أهلاً بك في موقع dostor.mashsolvents.com . يخضع دخولك إلى موقع "دستور مصر" واستخدامك له إلى قبولك وامتثالك لهذه الشروط. فعندما تستمر في تصفح واستخدام "دستور مصر"، يعني ذلك موافقتك على الامتثال والالتزام بشروط وأحكام الاستخدام التالية، والتي، جنباً إلى جنب مع سياسة الخصوصية، تحكم علاقة ماش معك فيما يتعلق ب "دستور مصر". وفي حالة عدم موافقتك على أي جزء من هذه الشروط والأحكام، يرجى عدم استخدام "دستور مصر".

%p{ style: "direction: rtl"}
  ويشير مصطلح "ماش" و"نحن" إلى مالك "دستور مصر" والذي يقع مكتبه المسجل في ١٤ شارع الأمير وليد بن ثنيان بلوك ١١٦٣، مساكن شيراتون، القاهرة، مصر. وقد تأسست شركتنا بموجب قوانين جمهورية مصر العربية. أما مصطلح "أنت" فيشير إلى مستخدم أو متصفح موقع "دستور مصر".

%p{ style: "direction: rtl"}
  يخضع استخدام موقع "دستور مصر" إلى شروط الاستخدام التالية:
  %br
  %ul{ style: "direction: rtl"}
    %li إن محتوى صفحات "دستور مصر" هو لمعلوماتك العامة واستخدامك فقط، وهو عرضة للتغيير دون إخطار.
    %li لا نستطيع نحن أو أي طرف آخر أن نقدم أي ضمان لدقة أو توقيت أو أداء أو كمال أو ملائمة المعلومات والمواد المتواجدة أو المعروضة على "دستور مصر" لأي غرض من الأغراض. ونحن نقر أن تلك المعلومات والمواد من الممكن أن تكون غير دقيقة أو تحتوي على بعض الأخطاء إلى أقصى حد يسمح به القانون.
    %li استخدامك لأي معلومات أو مواد على "دستور مصر" يكون على مسؤوليتك الخاصة تماماً ولذا نحن لا نتحمل المسئولية عن ذلك على الإطلاق. كما أنك ستكون مسئولاً عن ضمان أن تلبي أي منتجات أو خدمات أو معلومات متاحة من خلال موقعنا متطلباتك الخاصة.
    %li الاستخدام غير المصرح به ل "دستور مصر" قد يتسبب في رفع دعوى للأضرار و/أو قد يصبح جريمة جنائية.
    %li قد يحتوي "دستور مصر" أيضاً على روابط لمواقع أخرى وذلك من وقت لأخر، ويتم تقديم هذه الروابط لراحتك الخاصة ولتوفير معلومات أكثر لك، ولكن هذا لا يعني بأي حال من الأحوال تأييدنا لهذه المواقع فنحن لا نتحمل أية مسئولية عن محتوى روابط هذه المواقع.
    %li استخدامك لـ "دستور مصر" وأي خلاف قد ينشأ عن هذا الاستخدام يخضع لقوانين جمهورية مصر العربية دون اعتبار أو تطبيق الأحكام الخاصة بقانون المنازعات للبلد التي تقيم بها.
  فعّال من: ٢٢ نوفمبر، 